h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.header {
    text-align:center;
   font-size: 30px;
   border-color: blue;
   height:10%
}

#loginimage {
    line-height:30px;
    background-color:#eeeeee;
    height:80%;
    width:70%;
    float:left;
    padding:5px; 
}

.login {
    width:20%;
    float: right;    
}

.footer {
    text-align:center;
    height:10%;
    width:100%
}


.error {
    text-align:center;
    height:10%;
    width:100%;
    color:#FF0000;
}

.button {
	box-shadow: rgb(252, 226, 193) 0px 1px 0px 0px inset; 
	background-color: rgb(255, 196, 119); 
	border-radius: 6px; 
	border: 1px solid rgb(238, 180, 79); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(255, 255, 255); 
	font-family: Arial; 
	font-size: 17px; 
	font-weight: bold; 
	padding: 5px 6px; 
	text-decoration: none; 
	text-shadow: rgb(204, 159, 82) 0px 0px 3px;
}

.button:focus{
	text-shadow: rgb(204, 159, 82) 0px 0px 0px;
    outline:solid 1px rgb(255, 196, 119);
}

